.gift-section {
  background-color: #44023d; /* Fundo roxo principal */
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* permite quebrar linha no mobile */
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* evita estouro visual */
  font-family: 'Poppins', sans-serif;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.gift-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.gift-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.gift-subtitle {
  color: #ffa500;
  font-size: 1.2rem;
  text-align: center;
}

.gift-message {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #f9eecf;
}

.gift-cta {
  position: absolute;
  bottom: 110px; /* ajusta conforme quiser subir/descer */
  right: 10px; /* ou left: 20px se quiser mudar o lado */

  color: #ffa500;
  font-size: 1.05rem;
  font-weight: 500;
  max-width: 250px;
  text-align: center;
  z-index: 2;
  animation: pulseUp 2.5s ease-in-out infinite;
}

.gift-cta strong {
  font-style: italic;
  font-weight: 700;
}

.gift-you-deserve {
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
}

.gift-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  transform: scale(1.2);
    transform-origin: center 70%;

}

.gift-right {
  max-width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Tablet */
@media (min-width: 768px) {
  .gift-section {
    position: relative; /* importante para alinhar conteúdo sobreposto */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px; /* antes estava 20px */
    padding: 15px 20px 0px;
  }

  .gift-left {
    position: relative;
    z-index: 3;
  }

  .gift-right {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .gift-title {
    font-size: 2.2rem;
    text-align: center;
  }

  .gift-subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .gift-message {
    font-size: 1.1rem;
    text-align: center;
  }

  .gift-you-deserve {
    font-size: 2rem;
    text-align: center;
  }

  .gift-img {
    max-width: 600px;
    width: 100%;
    height: auto;
    transform: scale(2.6);
    transform-origin: center 70%;
    z-index: 1;
    position: relative;
  }

  .gift-cta {
    bottom: 120px;
    right: 45px;
    font-size: 1.5rem;
    max-width: 280px;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulseUp {
  0%,
  100% {
    transform: rotate(6deg) scale(1);
  }
  50% {
    transform: rotate(8deg) scale(1.05);
  }
}
